# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
/deps/
*.log
state.json

# Conteneurs
*.mkv
*.mp4
*.avi
*.mov
*.webm

# Flux vidéos
*.ivf

# Flux audio
*.mka
*.mp3
*.wav
*.flac

# Sous-titres
*.srt
*.ass
*.ssa
*.vtt
